.rodape
{
    padding: 10px;
    display: block;
    position: sticky;
    width: 90%;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 24px;
}

.link
{
    color: #969090;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

.link:hover
{
    color: cornflowerblue;
}

link:visited
{
    color: black;
}