.grupo
{
    display: inline-block;
    margin-left: 20px;
}

.adicionar
{
    display: block;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}

.container-tabela
{
    height: 60vh;
    overflow-x: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
}

.tabela
{
    width: 100%;
    margin: 20px auto;
    border-spacing: 20px;
}

.thead
{
    width: 100%;
    text-align: left;
}

.tarefa
{
    width: 60%;
}

.data
{
    width: 20%;
}

.hora
{
    width: 20%;
}


