label
{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.grupo
{
    display: inline-block;
    margin-left: 20px;
}


.adicionar
{
    display: block;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    border-radius: 50%;
}


.adicionar:hover
{
    box-shadow: 1px 1px 15px 1px rgba(3, 158, 248, 0.438);
}

.tabela
{
    width: 100%;
    margin: 20px auto;
    border-spacing: 20px;
}

.thead
{
    width: 100%;
    text-align: left;
}

.tarefa
{
    width: 50%;
    padding: 5px;
}

.data
{
    width: 20%;
    padding: 5px;
}

.hora
{
    width: 20%;
    padding: 5px;
}

.info-tarefa, .info-data, .info-hora
{
    padding: 5px;
}

.row
{
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(167, 167, 167, 0.116);
}




