
    /*--font1: font-family: 'Oswald', sans-serif;
    --font2: font-family: 'Cormorant SC', serif;*/


.container-principal
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 600px;
    width: calc(100% - 40px);
    padding: 10px;

    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px rgba(167, 167, 167, 0.116);
}

.container
{
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgba(167, 167, 167, 0.116);
}

.container-mid
{
    margin: 0 auto;
}

.container-tabela
{
    height: 50vh;
    overflow-x: auto;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px rgba(167, 167, 167, 0.116);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 16px;
}