.search
{
    padding: 15px 0;
}

.search-label
{
    margin: 5px 5px 10px 25px;
}

#search
{
    border-radius: 50%;
    margin: 5px 0 5px 15px;
    padding: 5px;
    background: url(../img/search.png) no-repeat 6px/24px, white;
    width: 40px;
    height: 40px;
    padding-left: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.199);

    transition-property: width, border-radius, box-shadow;
    transition-duration: 300ms;
}

#search:focus
{
    width: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.116);
    cursor: auto;
}
