

.invisivel 
{
    display: none;
    transition: 0.5s;
    opacity: 0;
}

/*------------TEMA ESCURO-------------------------*/

.escuro:hover
{
    background-color: #000000;
    color: #C1C3C3;
    border-radius: 5px;
}

.tema-escuro
{
    background-color: #000000;
    color: #C1C3C3;
}


/*-----------------------TEMA CLARO--------------------*/

.tema-claro
{
    background-color: white;
    color: #000000;
}

.claro:hover
{
    background-color: white;
    color: #000000;
    border-radius: 5px;
}