.invisivel 
{
    display: none;
    transition: 0.5s;
    opacity: 0;
}

/*------------TEMA ESCURO-------------------------*/

.tema-escuro
{
    background-color: #000000;
    color: #C1C3C3;
}

.border-escuro
{
    padding: 0 5px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    border-left: 1px solid rgba(255, 255, 255, 0.219);
    border-right: 1px solid rgba(255, 255, 255, 0.219);
}

/*-----------------------TEMA CLARO--------------------*/

.tema-claro
{
    background-color: white;
    color: #000000;
}

.border-claro
{
    padding: 0 5px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    border-left: 1px solid rgba(0, 0, 0, 0.219);
    border-right: 1px solid rgba(0, 0, 0, 0.219);
}